$sp:640px;

@mixin sp{
  @media (max-width:$sp) {
    @content;
  }
}

.items{
    display: flex;
    color: #fff;
    gap: 40px;
    @include sp{
        flex-direction: column;
        gap: 24px;
    }
}
.button{
    display: none;
    @include sp{
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
    }
}
.close{
    display: none;
@include sp{
    display: none;
    position: absolute;
    top: 24px;
    right: 16px;
    &.open{
        display: flex;
        background: none;
        border: none;
    }
}
   


}
.nav{
    @include sp{
        display: none;
    }
    &.open{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-bg-painted);
        color: var(--color-text-unpainted);
        padding: 24px 16px;
    }
}
